## Data preparation
 Original dataset is in TSV format and values are coded in a single string.
 Raw Dataset has "wide" format.
 This notebook parses the "key" string into additional columns and changes table format into "long". Null values, originally coded as ":" will be changed to `null`

In [6]:
!pip -q install pandas

In [7]:
imigration_data_path = "Immigration_raw.csv"
integration_data_path = ""

In [ ]:
import pandas as pd

immigration_ds = pd.read_csv(imigration_data_path, sep=",")

# address empty cells
immigration_ds = immigration_ds.replace(" ", "")
immigration_ds = immigration_ds.replace(":", pd.NA)
immigration_ds = immigration_ds.replace("p", "")
immigration_ds = immigration_ds.replace("e", "")

# parse dimention_key
columns = immigration_ds.columns
new_columns = columns[0][:len(columns[0])-len(r"\TIME_PERIOD")].split(",")
new_columns.extend(columns[1:])
new_columns = new_columns.copy()

In [9]:
display(new_columns)

['freq',
 'age',
 'agedef',
 'c_birth',
 'unit',
 'sex',
 'geo',
 '2013 ',
 '2014 ',
 '2015 ',
 '2016 ',
 '2017 ',
 '2018 ',
 '2019 ',
 '2020 ',
 '2021 ',
 '2022 ',
 '2023 ']

In [10]:

new_ds = pd.DataFrame(columns=new_columns)
for idx, row in immigration_ds.iterrows():
    # The first column contains the complex key
    complex_key = row.iloc[0]
    # Parse the key into separate values
    parsed = complex_key.split(",")
    # Get the rest of the values (excluding the first column)
    rest = row.iloc[1:].tolist()
    # Combine parsed key and the rest of the values
    all_values = parsed + rest
    # Append to new DataFrame
    new_ds.loc[len(new_ds)] = all_values

In [11]:
new_ds.head(5)

,freq,age,agedef,c_birth,unit,sex,geo,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,TOTAL,COMPLET,CC5_13_FOR_X_IS,NR,F,AT,4085,4093,4723,4827,:,4130,4286,:,:,:,:
1,A,TOTAL,COMPLET,CC5_13_FOR_X_IS,NR,F,BE,1407,953,1017,1004,:,1364,1514,:,:,:,:
2,A,TOTAL,COMPLET,CC5_13_FOR_X_IS,NR,F,BG,743 p,577,559,586,:,1413,1659,:,:,:,:
3,A,TOTAL,COMPLET,CC5_13_FOR_X_IS,NR,F,CH,2758,2766,2876,3109,:,3209,3198,:,:,:,:
4,A,TOTAL,COMPLET,CC5_13_FOR_X_IS,NR,F,CZ,155,106,120,414,:,736,1013,:,:,:,:

In [12]:
new_ds.to_csv("Immigration.csv")